nav(id="calendarioApp")
 ul.nav2
   li
    a(class="calendario", href="#")= fecha
     br
     span(class="dia") Jueves
   li
    a(class="calendario", href="#")= fecha + 1
     br
     span(class="dia") Viernes
   li
    a(class="calendario", href="#")= fecha + 2
     br
     span(class="dia") Sábado  