#tiempo.hora
 select#hora_selector
  option 1
  option 2
  option 3
  option 4
  option 5
  option 6
  option 7
  option 8
  option 9
  option 10
  option 11
  option 12
 select#minuto_selector
  option 00
  option 05
  option 10
  option 15
  option 20
  option 25
  option 30
  option 35
  option 40
  option 45
  option 50
  option 55
 select#am_pm
  option am
  option pm
  