extends layout

block content
 include header
 content(id="content")
  nav
   ul.nav
    li
     a(class="icon-location", id="addMarker", href="#")
    li
     a(id="favoritos", href="#") F
    li
     a(id="autos", href="#") A
    
  include menu_app
  
  include calendario
  
  include hora
  
  include ok
  
  include auto
  
  include destino
  
  include pago