nav(id="nav1")
 ul.nav1
   li
    a(id="calendario_btn", href="#") C
   li
    a(id="hora_btn", href="#") H
   li
    a(id="placa_btn", href="#") P
   li
    a(id="destino_btn", href="#") D
   li
    a(id="pago_btn", href="#") $
   li
    a(id="confirmar_btn", href="#") T           