nav(id="nav1")
 ul.nav1
   li
    a(id="calendario", href="#") C
   li
    a(id="hora", href="#") H
   li
    a(id="hora", href="#") P
   li
    a(id="hora", href="#") D
   li
    a(id="hora", href="#") $
   li
    a(id="hora", href="#") T 