nav(id="nav1")
 ul.nav1
   li
    a(class="icon-fecha", id="calendario_btn", href="#")
   li
    a(class="icon-hora", id="hora_btn", href="#")
   li
    a(class="icon-autos", id="placa_btn", href="#")
   li
    a(class="icon-destino", id="destino_btn", href="#")
   li
    a(class="icon-pago", id="pago_btn", href="#")
   li
    a(class="icon-servicio", id="confirmar_btn", href="#")
 #indicador_t.indicadorT
  span(class="icon-indicador")