nav(id="nav1")
 ul.nav1
   li
    a(id="calendario", href="#") C
   li
    a(id="hora", href="#") H
   li
    a(id="placa", href="#") P
   li
    a(id="destino", href="#") D
   li
    a(id="pago", href="#") $
   li
    a(id="confirmar", href="#") T 