nav(id="pago_app")
 ul.navPago
   li
    a(class="pagoApp", id="paypal_btn", href="#") PayPal
   li
    a(class="pagoApp", id="tarjeta_btn", href="#") Tarjeta D/C
   li
    a(class="pagoApp", id="efectivo_btn", href="#") Efectivo