@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?53z85x');
	src:url('../fonts/icomoon.eot?#iefix53z85x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?53z85x') format('woff'),
		url('f../onts/icomoon.ttf?53z85x') format('truetype'),
		url('../fonts/icomoon.svg?53z85x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

h1
{
    margin: 0;
    font-size: 64px;
}

content
{
    position: absolute;
}


.header
{
    background-color: #2679a5;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    position: relative; 
    height: 65px;
}

.header h1.icon-tellevo:before {
	content: "\e609";
}

.header p
{
    margin: 0;
    font-size: 12px;
    display: block;
    position: relative;
    top:-16px;
    padding-left:110px;
    line-height: 12px;
}

.header span
{
    color: orange;
    font-size: 16px;
}

.nav
{
    list-style: none;
    text-align:left;
    font-size: 32px;
    background-color: #e2e2e2; 
    margin-top: 10px;
    padding: 5px 0 1px 0;
    width: 70px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}

.nav li
{
    position: relative;
    /*display: inline-block;
    margin-right: -4px;*/
}

.nav li:before
{
  content: "";
  display: block;
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;*/
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);*/ 
  color: #2679a5;
  margin: 0px;
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  /*border-radius: 10%;*/
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin-bottom: 5px;
}

.nav li:last-child
{
    margin-bottom: 0;
}
/*
.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}*/

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
 
.nav a.icon-agregar:before {
	content: "\e600";
}

.nav a.icon-favoritos:before 
{
	content: "\e603";
}

.nav a.icon-autos:before 
{
	content: "\e601";
}

.nav1
{
    list-style: none;
    text-align:left;
    font-size: 32px;
    background-color: #e2e2e2; 
    /*margin-top: 10px;*/
    padding: 5px 0 1px 1px;
    width: 415px;
    border-radius: 10px;
    position: relative;
    
}

.nav1 li
{
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.nav1 li:before
{
  content: "";
  display: block;
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;*/
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav1 a:link, .nav1 a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #b5b5b5;
  /*margin: 0px;*/
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin: 0 5px 5px 5px;
}

.nav1 a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav1 a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}
 
.nav1 a.icon-fecha:before 
{
	content: "\e604";
}

.nav1 a.icon-hora:before 
{
	content: "\e605";
}

.nav1 a.icon-autos:before 
{
	content: "\e601";
}

.nav1 a.icon-destino:before 
{
	content: "\e602";
}

.nav1 a.icon-pago:before 
{
	content: "\e607";
}

.nav1 a.icon-servicio:before 
{
	content: "\e608";
}




.nav1 li:first-child
{
    margin-right 0;    
}

.nav1 a:first-child
{
    color: #2679a5;
}

.indicadorT
{
    position: relative;
    padding-top:-10px;
    display: block;
    color: #e2e2e2;
    width: 70px;
    text-align: center;
    line-height: -100px;
    margin: 0px;
    top: -35px;
}

.indicadorT span.icon-indicador:before
{
    content: "\e606";
}

.nav2
{
    list-style: none;
    text-align:left;
    font-size: 32px;
    background-color: #e2e2e2; 
    margin-top: 10px;
    padding: 5px 0 1px 5px;
    width: 70px;
    border-radius: 10px;
    
}

.nav2 li
{
    position: relative;
    /*display: inline-block;*/
    margin-right: -4px;
    
}

.nav2 li:before
{
  content: "";
  display: block;
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;*/
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav2 a:link, .nav2 a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);*/ 
  color: #2679a5;
  margin: 0px;
  width: 62.5px;
  height: 45px;
  position: relative;
  text-align: center;
  line-height: 15px;
  border-radius: 5px;
  /*border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; */ 
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin-bottom: 5px;
  padding-top: 15px;
}

.nav2 li:last-child
{
    margin-bottom: 0;
}

.nav2 a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav2 a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.nav2 span
{
    font-size: 14px;
}


.hora
{
    background-color: #e2e2e2;
    font-size: 32px;
    padding: 5px 0 1px 1px;
    border-radius: 10px;
    width: 200px;
    
}

.hora select
{
    background-color: #f7f7f7;
    font-size: 32px;
    color: #2679a5;
    border: solid 1px transparent;
    margin: 0 0 5px 5px;
    -webkit-appearance: none;
    width: 60px;
    text-align: center;
    padding-left: 15px;
    position: relative;
}

#minuto_selector
{
    padding-left: 10px;
}

#am_pm
{
    padding-left: 7px;
}

.okButton
{
    list-style: none;
    text-align:left;
    font-size: 32px;
    background-color: #e2e2e2; 
    padding: 5px 1px 1px 1px;
    width: 70px;
    border-radius: 10px;
    position: relative;
    
}

.okButton a:link, 
.okButton a:visited
{
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #2679a5;
  margin: 0px;
  /*width: 62.5px;*/
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin: 0 5px 5px 5px;
}

.okButton a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.okButton a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.navAuto,
.navDestino,
.navPago
{
    list-style: none;
    text-align:left;
    font-size: 32px;
    background-color: #e2e2e2; 
    padding: 5px 1px 1px 1px;
    width: 225px;
    border-radius: 10px;
    position: relative;
}

.navAuto a:link,
.navAuto a:visited,
.navDestino a:link,
.navDestino a:visited,
.navPago a:link,
.navPago a:visited
{
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #2679a5;
  margin: 0px;
  /*width: 62.5px;*/
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin: 0 5px 5px 5px; 
}

.navAuto a:active,
.navDestino a:active,
.navPago a:active
{
    box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;        
}

.navAuto a:hover,
.navDestino a:hover,
.navPago a:hover
{
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}

.servicioApp
{
    list-style: none;
    text-align:left;
    font-size: 24px;
    background-color: #e2e2e2; 
    padding: 5px 1px 1px 1px;
    width: 225px;
    border-radius: 10px;
    position: relative;
}

.servicioApp li
{
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #2679a5;
  margin: 0px;
  /*width: 62.5px;*/
  height: 40px;
  position: relative;
  text-align: left;
  line-height: 40px;
  border-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin: 0 5px 5px 5px;
}

.solicitarServicioButton
{
    list-style: none;
    text-align:left;
    font-size: 24px;
    background-color: #e2e2e2; 
    padding: 5px 1px 1px 1px;
    width: 225px;
    border-radius: 10px;
    position: relative;
}

.solicitarServicioButton a:link, 
.solicitarServicioButton a:visited
{
    display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #e0950b;
  margin: 0px;
  /*width: 62.5px;*/
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin: 0 5px 5px 5px;
}

.solicitarServicioButton a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.solicitarServicioButton a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}rvicioButton
{
    list-style: none;
    text-align:left;
    font-size: 24px;
    background-color: #e2e2e2; 
    padding: 5px 1px 1px 1px;
    width: 225px;
    border-radius: 10px;
    position: relative;
}

.solicitarServicioButton a:link, 
.solicitarServicioButton a:visited
{
    display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #e0950b;
  margin: 0px;
  /*width: 62.5px;*/
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;  
  /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
  border: solid 1px transparent;
  margin: 0 5px 5px 5px;
}

.solicitarServicioButton a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.solicitarServicioButton a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}